<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Index Page</h1>
    <p>This is an index page.</p>

    <script>
        async function postData() {
            console.log("Going for a post request.");
            let response = await fetch("/form", {
                method: "POST",
                body: JSON.stringify({ method: "post", status: "success" })
            });
            console.log("Got response.");
            let res = await response.text();
            console.log("Parsing response");
            console.log(res);
        }

        async function update() {
            let response = await fetch('/update', 
                {
                    method: 'PUT',
                    body: JSON.stringify({name: 'Black', age: 23})
                }
            )

            response = await response.text();
            console.log(response);
        }

        // postData();
        update();
    </script>
</body>

</html>