:root {
    --defImgUrl: url('https://i.pinimg.com/736x/55/c7/d4/55c7d48a870dd80e5a5bb83eca9801e1.jpg');
    --defPrimaryBorderRadius: 10px;
    --defTagBorderRadius: 14px;
    --defPrimaryBorder: 1px solid green;
    --defSecondryBorder: 1px solid rgb(224, 250, 224);
    --defPrimaryPadding: 5px;
    --defTagPadding: 2px 8px;
    --defButtonPadding: 4px 8px;
    --defPrimaryFontSize: 12px;
    --defPrimaryMargin: 5px;
    --defSecondryMargin: 10px 5px;
    --defPrimaryColor: rgb(9, 179, 32);
    --defSecondryColor: rgb(235, 250, 237);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: gray;
    padding: 30px;
}

.card {
    width: 20vw;
    background-color: white;
    padding: var(--defPrimaryPadding);
    border: var(--defPrimaryBorder);
    border-radius: var(--defPrimaryBorderRadius);
}

.card img{
    content: var(--defImgUrl);
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 200px;
    border-radius: var(--defPrimaryBorderRadius);
}

.tags {
    margin: var(--defPrimaryMargin);
}

.tags span {
    margin: var(--defPrimaryMargin);
    border: var(--defSecondryBorder);
    border-radius: var(--defTagBorderRadius);
    padding: var(--defTagPadding);
    font-size: var(--defPrimaryFontSize);
    color: var(--defPrimaryColor);
    background-color: var(--defSecondryColor);
}

h2 {
    margin: var(--defSecondryMargin);
}

p {
    margin: var(--defSecondryMargin);
    font-size: var(--defPrimaryFontSize);
}

.read-more {
    margin: var(--defSecondryMargin);
    text-align: center;
}

.read-more button{
    font-size: var(--defPrimaryFontSize);
    background-color: var(--defSecondryColor);
    border: var(--defSecondryBorder);
    border-radius: var(--defPrimaryBorderRadius);
    padding: var(--defButtonPadding);
    margin: var(--defSecondryMargin);
    color: var(--defPrimaryColor);
}