<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Layout</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body>
    <div class="card">
        <div class="container flex space-x-2 p-1">
          <div class="p1 relative w-fit">
            <img class="rounded-lg" src="https://i.ytimg.com/vi/tVzUXW6siu0/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLB0alxLSXCSEPITzWr-XXUiv1oglQ" alt="" />
            <span class="absolute bottom-1 right-1 z-10 rounded bg-gray-800 pl-1.5 pr-1.5 text-sm text-white opacity-75">23:00</span>
          </div>
      
          <div class="p2 flex flex-col space-y-1">
            <h3 class="title text-lg font-bold text-black">Installing VS Code & How Websites Work | Sigma Web Development Course - Tutorial #1</h3>
            <div class="desc flex items-center space-x-2 text-sm">
              <span>CodeWithHarry</span>
              <div class="h-1 w-1 rounded-md bg-gray-500"></div>
              <span>2.1M views</span>
              <div class="h-1 w-1 rounded-md bg-gray-500"></div>
              <span>9 months ago</span>
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>